__pycache__/
*.py[cod]
.DS_Store
.venv/
venv/
wandb/
outputs/
data/
*.pth
*.pt
*.safetensors
*.ckpt
*.ply
*.obj
*.mtl
*.glb
*.fbx
*.zip
*.7z
*.rar
*.tar
*.gz

task1/reports/
third_party/
background/
2d-gaussian-splatting/
object_A/
object_C/
fusion/
upload_package/
tb_logs/
lightning_logs/

report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.pdf
task2/report/*.aux
task2/report/*.log
task2/report/*.out
task2/report/*.toc
task2/report/*.pdf

*.mp4
!task1/assets/
!task1/assets/videos/
!task1/assets/videos/garden_ABC_final_true_depth_stable.mp4
!task1/assets/videos/garden_ABC_final_true_depth_stable_contact.jpg
